/* elements */
body, select, input, textarea {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8125em;
  background-color: #650000; }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-family: "Copperplate Gothic Light";
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background: url("../images/bg_headers.png") bottom center no-repeat;
  padding: 10px 0;
  position: relative;
  *zoom: 1; }

h1 {
  font-size: 1.875em;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  margin: 0px 0 20px;
  padding: 20px 0 10px; }

h2, h3 {
  font-size: 1.166666667em; }

h3 a:hover {
  text-decoration: none; }

a, a:active, a:visited {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  color: #c00000;
  text-decoration: underline; }

p {
  font-weight: lighter; }
  p:first-child {
    margin-top: 0; }

img {
  max-width: 100%; }
  .ie7 img, .ie8 img {
    max-width: auto;
    width: auto; }
