/* layout */
.container {
  width: 90%;
  max-width: 940px;
  padding: 0 1.041666667%;
  margin: 0 auto; }
  #header .container {
    position: relative;
    z-index: 1; }
  #body .container {
    padding-top: 20px; }
    .home #body .container {
      padding-top: 0; }

#header {
  border-top: 25px solid black;
  background: url("../images/bg_headerTop.png") top center repeat-x;
  background-color: #ffffff;
  margin-top: -25px;
  position: relative;
  *zoom: 1; }
  #header > div {
    margin-top: 25px;
    background: url("../images/bg_headerTopGrunge.png") top center repeat-x;
    padding: 1px 0 0 0; }
    #header > div > div {
      background: url("../images/bg_headerGradient.png") bottom center repeat-x; }
      #header > div > div > div {
        background: url("../images/bg_header.jpg") bottom center no-repeat;
        margin: 0 auto 0px; }
        .home #header > div > div > div {
          background: url("../images/bg_headerHome.jpg") bottom center no-repeat; }
        #header > div > div > div > div {
          background: url("../images/bg_headerBottomGrunge.png") bottom center repeat-x;
          border-bottom: 4px solid black;
          position: relative;
          *zoom: 1; }
          #header > div > div > div > div .headerBottomImg {
            position: absolute;
            right: 0;
            bottom: -3px;
            z-index: 5; }

#body {
  background: black url("../images/bg_body.jpg") top center no-repeat;
  padding: 0 0 30px 0; }

#comp {
  float: left;
  width: 610px;
  padding: 0 40px 0 0; }
  .home #comp {
    width: 100%; }
  .supporters #comp {
    text-align: center; }
    .supporters #comp img {
      vertical-align: middle;
      margin: 0 11px 40px; }

#sidebar {
  width: 290px;
  float: left; }

#bottom {
  padding: 0 0 25px 0; }

#footer {
  background-color: #000; }

#copyright {
  background: url("../images/bg_footerRepeat.png") top center repeat-x;
  font-size: 9px;
  font-weight: lighter;
  line-height: 2em; }
  #copyright > div {
    background: url("../images/bg_footer.jpg") top center no-repeat;
    padding: 15px 0;
    height: 203px; }
  #copyright a:hover {
    color: black;
    text-decoration: none; }

html.ie7 .container, html.ie8 .container {
  width: 940px;
  padding: 0 10px; }
