/* @group hmenu */
.moduletable_hmenu {
  font-size: 14px;
  z-index: 5;
  font-family: "trajan-pro", sans-serif;
  font-style: normal;
  font-weight: 700; }
  .moduletable_hmenu > ul {
    margin: 0;
    padding: 0px; }
    .moduletable_hmenu > ul > li {
      position: relative;
      padding: 0 5px;
      display: inline-block;
      *display: inline;
      *zoom: 1; }

.moduletable_hmenu.primary {
  padding: 35px 0 15px;
  position: relative;
  z-index: 10; }
  .moduletable_hmenu.primary li {
    padding: 0 0 0 5.85106383%; }
    .moduletable_hmenu.primary li:first-child {
      padding-left: 0; }
    .moduletable_hmenu.primary li a {
      color: #000;
      z-index: 5; }
      .moduletable_hmenu.primary li a:hover {
        color: #c00000;
        text-decoration: none; }

.moduletable_hmenu.secondary {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
  padding: 15px 0;
  background: url("../images/bg_footerTopGrunge.png") bottom center repeat-x;
  font-family: "trajan-pro", sans-serif;
  font-style: normal;
  font-weight: 400; }
  .moduletable_hmenu.secondary > ul li {
    border-left: 1px solid #fff;
    padding: 0 1.595744681%; }
    .moduletable_hmenu.secondary > ul li:first-child {
      border-left: none; }
    .moduletable_hmenu.secondary > ul li a:hover {
      text-decoration: none; }

.moduletable_vmenu.mobile {
  height: 0px;
  overflow: hidden;
  border-radius: 5px;
  font-family: "trajan-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-transition: height 250ms ease-in-out;
  -moz-transition: height 250ms ease-in-out;
  -o-transition: height 250ms ease-in-out;
  -ms-transition: height 250ms ease-in-out;
  transition: height 250ms ease-in-out; }
  .moduletable_vmenu.mobile > ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .moduletable_vmenu.mobile > ul li {
      line-height: 44px;
      border-top: 1px solid #525252;
      padding: 0 15px;
      background: -webkit-linear-gradient(top, #333333, black);
      background: -moz-linear-gradient(top, #333333, black);
      background: -o-linear-gradient(top, #333333, black);
      background: -ms-linear-gradient(top, #333333, black);
      background: linear-gradient(top, #333333, black); }
      icon
      .moduletable_vmenu.mobile > ul li:first-child {
        border-top: 0; }
      .moduletable_vmenu.mobile > ul li:hover {
        background: #c00000; }
  .moduletable_vmenu.mobile a {
    font-size: 14px;
    color: #fff;
    display: block; }
    .moduletable_vmenu.mobile a:hover {
      text-decoration: none; }
  .moduletable_vmenu.mobile.menu-open {
    height: 269px;
    margin-bottom: 10px; }

@media only screen and (max-width: 768px) {
  .moduletable_hmenu.secondary {
    font-size: 1em; } }
html.ie7 .moduletable_vmenu.mobile, html.ie8 .moduletable_vmenu.mobile {
  display: none; }
