/* @group hmenu */
.moduletable_hmenu {
  font-family: "trajan-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  z-index: 5; }
  .moduletable_hmenu > ul {
    margin: 0;
    padding: 0px; }
    .moduletable_hmenu > ul > li {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      position: relative;
      padding: 0 5px; }

.moduletable_hmenu.primary {
  padding: 35px 0 15px;
  position: relative;
  z-index: 10; }
  .moduletable_hmenu.primary li {
    padding: 0 0 0 50px; }
    .moduletable_hmenu.primary li:first-child {
      padding-left: 0; }
    .moduletable_hmenu.primary li a {
      color: #000;
      z-index: 5; }
      .moduletable_hmenu.primary li a:hover {
        color: #c00000;
        text-decoration: none; }

.moduletable_hmenu.secondary {
  font-family: "trajan-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 15px 0;
  background: url("../images/bg_footerTopGrunge.png") bottom center repeat-x; }
  .moduletable_hmenu.secondary > ul li {
    border-left: 1px solid #fff;
    padding: 0 15px; }
    .moduletable_hmenu.secondary > ul li:first-child {
      border-left: none; }
    .moduletable_hmenu.secondary > ul li a:hover {
      text-decoration: none; }
