/* @group modules */
.moduletable.masthead {
  padding: 30px 0 0;
  color: black;
  border-top: 1px solid #d8d8d8;
  z-index: 2; }
  .moduletable.masthead p {
    width: 45.744680851%;
    font-size: 14px;
    font-weight: bold;
    z-index: 2; }
  .moduletable.masthead img.profile {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2; }

#header .moduletable.social {
  position: absolute;
  top: 30px;
  right: 0;
  width: auto;
  z-index: 10; }
.moduletable.social a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 0 0 20px; }

.media-block .media {
  float: left;
  width: 17.586206897%;
  margin: 0 5.172413793% 10px 0;
  text-align: center; }
.media-block .media + .content {
  padding-left: 22.75862069%; }
.media-block.right .media {
  float: right;
  margin: 0 0 10px 5.172413793%; }
.media-block.right .content {
  padding-left: 0;
  margin-top: 0; }

.moduletable.feed ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .moduletable.feed ul li {
    background: url("../images/bg_headers.png") top center no-repeat;
    padding-top: 1em; }
    .moduletable.feed ul li:first-child {
      background: none;
      padding-top: 0; }
    .moduletable.feed ul li h4 {
      margin: 0;
      padding: 0;
      background: none; }
.moduletable.feed p {
  padding: 0; }

.moduletable.middle {
  float: left;
  width: 30.85106383%;
  padding-left: 3.723404255%;
  font-size: 12px; }
  .moduletable.middle:first-child {
    padding-left: 0; }
.moduletable.sidebar {
  padding: 10px 0 0 0; }
  .moduletable.sidebar:first-child {
    padding: 0; }
    .moduletable.sidebar:first-child h3 {
      padding-top: 0; }
  .moduletable.sidebar h3 {
    margin-top: 0; }

.moduletable.sponsors > div {
  margin-top: 30px;
  text-align: center; }
.moduletable.sponsors a {
  margin: 0 1.223404255% 1em;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .moduletable.sponsors a:hover {
    text-decoration: none; }

@media only screen and (max-width: 1024px) {
  .moduletable.masthead img.profile {
    width: 40%;
    height: inherit; }

  .moduletable.sponsors a {
    margin: 0 5.319148936% 1em; } }
@media only screen and (max-width: 959px) {
  .moduletable.masthead p {
    width: 100%; }

  .moduletable.masthead img.profile {
    display: none; } }
@media only screen and (max-width: 768px) {
  #header .moduletable.social {
    top: 12px; }

  .moduletable.masthead {
    padding: 10px 0 0; }

  .moduletable.sidebar {
    float: left;
    width: 30.85106383%;
    padding: 0 0 0 3.723404255%; }
    .moduletable.sidebar h3 {
      padding-top: 0; }

  .moduletable.show-menu {
    position: absolute;
    top: 10px;
    left: 0px;
    height: 20px;
    width: auto; } }
@media only screen and (max-width: 480px) {
  .moduletable.middle, .moduletable.sidebar {
    float: none;
    width: 100%;
    padding-left: 0; }

  .moduletable.sponsors > div {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; }
    .moduletable.sponsors > div > * {
      width: 940px; }
  .moduletable.sponsors a {
    margin: 0 1.223404255% 1em; } }
#header html.ie7 .moduletable.social, #header html.ie8 .moduletable.social {
  top: 30px;
  right: 0; }
html.ie7 .moduletable.masthead, html.ie8 .moduletable.masthead {
  padding: 30px 0 0; }
  html.ie7 .moduletable.masthead p, html.ie8 .moduletable.masthead p {
    width: 45.744680851%; }
html.ie7 .moduletable.middle, html.ie8 .moduletable.middle {
  float: left;
  width: 30.85106383%;
  padding-left: 3.723404255%; }
  html.ie7 .moduletable.middle:first-child, html.ie8 .moduletable.middle:first-child {
    padding-left: 0; }
html.ie7 .moduletable.sidebar, html.ie8 .moduletable.sidebar {
  padding: 10px 0 0 0; }
  html.ie7 .moduletable.sidebar:first-child, html.ie8 .moduletable.sidebar:first-child {
    padding: 0; }
    html.ie7 .moduletable.sidebar:first-child h3, html.ie8 .moduletable.sidebar:first-child h3 {
      margin-top: 0;
      padding-top: 0; }
  html.ie7 .moduletable.sidebar h3, html.ie8 .moduletable.sidebar h3 {
    padding-top: 10px; }
