/* styles */
.clr, .clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

::-moz-selection {
  background: #c00000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #c00000;
  color: #fff;
  text-shadow: none; }

.learnMore {
  font-family: "Copperplate Gothic Light";
  font-size: inherit;
  padding-left: 13px;
  background: url("../images/arrow.png") center left no-repeat; }
  .learnMore:hover {
    text-decoration: none; }
