/* styles */
.clr, .clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

::-moz-selection {
  background: #c00000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #c00000;
  color: #fff;
  text-shadow: none; }

.learn-more {
  font-family: "trajan-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  background: url("../images/arrow.png") center left no-repeat;
  padding-left: 13px; }
  .learn-more:hover {
    text-decoration: none; }

.btn-navbar {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 7px 10px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #c00000;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0px 1px 9px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 9px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 9px rgba(0, 0, 0, 0.4); }
  .btn-navbar:hover {
    -webkit-box-shadow: inset 0px 1px 9px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0px 1px 9px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 1px 9px rgba(0, 0, 0, 0.6); }

.btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px; }

.visible-mobile {
  display: none !important; }

@media only screen and (max-width: 768px) {
  .visible-mobile {
    display: inherit !important; }

  .hidden-mobile {
    display: none !important; } }
@media only screen and (max-width: 480px) {
  .hidden-phone {
    display: none !important; } }
