/* styles */
.clr, .clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

::-moz-selection {
  background: #c00000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #c00000;
  color: #fff;
  text-shadow: none; }

.learn-more {
  font-family: "trajan-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  background: url("../images/arrow.png") center left no-repeat;
  padding-left: 13px; }
  .learn-more:hover {
    text-decoration: none; }

@media only screen and (max-width: 480px) {
  .hidden-phone {
    display: none !important; } }
