@mixin typekit-normal {
	font-family: "trajan-pro", sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin typekit-bold {
	font-family: "trajan-pro", sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin hasLayout {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}