@import "_variables";
@import "_mixins";

/* elements */
body, select, input, textarea {
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	background-color: rgba(black, .7);
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
	font-family: "Copperplate Gothic Light";
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background: url('../images/bg_headers.png') bottom center no-repeat;
	padding: 10px 0;
	
	.home #top & {
		margin-top: 0;
		padding-top: 20px;
	}
}

a, a:active, a:visited {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: $red;
	text-decoration: underline;
}

p {
	font-weight: lighter;
}

h1 {
	font-size: 30px;
	text-shadow: 3px 3px 3px rgba(black, .25);
	margin: 20px 0;
}

h2, h3 {
	font-size: 14px;
}