@import "_variables";
@import "_mixins";

/* layout */

.container {
	width: 90%;
	max-width: 940px;
	padding: 0 1.041666667%;
	margin: 0 auto;
	
	#header & {
		position: relative;
		z-index: 1;
		padding: 0;
	}
}

#header {
	border-top: 25px solid black;
	background: url('../images/bg_headerTop.png') top center repeat-x;
	background-color: #000000;
	margin-top: -25px;
	position: relative;
	*zoom: 1; //fix for IE7
	
	> div {
		margin-top: 25px;
		background: #ffffff url('../images/bg_headerTopGrunge.png') top center repeat-x;
		padding: 1px 0 0 0;
		
		> div {
			background: url('../images/bg_headerGradient.png') bottom center repeat-x;
			
			> div {
				background: url('../images/bg_header.jpg') bottom center no-repeat;
				margin: 0 auto 0px;
				//.home & {background: url('../images/bg_headerHome.jpg') bottom center no-repeat;}
				
				> div {
					background: url('../images/bg_headerBottomGrunge.png') bottom center repeat-x;
					border-bottom: 4px solid black;
					position: relative;
					*zoom: 1; //fix for IE7
					
					.headerBottomImg {
						position: absolute;
						right: 0;
						bottom: -3px;
						z-index: 5;
					}
				}
			}
		}
	}
}

#body {
	background: #000 url('../images/bg_body.jpg') top center no-repeat;
	padding: 0 0 30px 0;
}

#comp {
	float: left;
	width: 64.893617021%; //610/940
	padding: 0 4.255319149% 0 0; //40/940
	.home & {
		width: 100%;
	}
	
	.supporters & {
		
		img {
			vertical-align: middle;
			margin: 0 1.170212766% 40px; //11/940
		}
	}
}

#sidebar {
	width: 30.85106383%; //290/940
	float: left;
}

#bottom {
	overflow: hidden;
}

#footer {
	background-color: #000;
}

#copyright {
	background: url('../images/bg_footerRepeat.png') top center repeat-x;
	font-size: 9px;
	font-weight: lighter;
	line-height: 2em;
	
	> div {
		background: url('../images/bg_footer.jpg') top center no-repeat;
		padding: 15px 0;
		height: 203px;
	}
	
	a:hover {
		color: black;
		text-decoration: none;
	}
}

@media only screen and (max-width: 768px) {
	
	.container {
		#header & {
			padding-top: 50px;
		}
	}
	
	#comp {
		float: none;
		width: 100%;
		padding-right: 0
	}
	
	#sidebar {
		width: 100%;
		float: none;
	}

}

@media only screen and (max-width: 480px) {

}

//ie
html.ie7, html.ie8 {
	.container {
		width: 940px;
		padding: 0 10px;
	}
	
	#comp {
		float: left;
		width: 610px;
		padding: 0 40px 0 0;
	}

	#sidebar {
		width: 290px;
		float: left;
	}
}