@import "_variables";
@import "_mixins";

/* @group hmenu */
.moduletable_hmenu {
	font-family: "Trajan Pro";
	font-size: 14px;
	font-weight: bold;
	z-index: 5;
	
	> ul {
		margin: 0;
		padding: 35px 0 15px;
		background: url('../images/bg_menuBottomBorder.png') bottom center no-repeat;
		
		> li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			position: relative;

			padding: 0 0 0 50px;
			&:first-child {
				padding-left: 0;
			}
			
			a {
				color: #000;
					z-index: 5;
				&:hover {
					color: $red;
					text-decoration: none;
				}
			}
		}
	}
}