@import "_variables";
@import "_mixins";

/* @group hmenu */
.moduletable_hmenu {
	font-family: "Trajan Pro";
	font-size: 14px;
	font-weight: bold;
	z-index: 5;
	
	> ul {
		margin: 0;
		padding: 0 5px;
		
		> li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			position: relative;
			padding: 0 5px;
			

		}
	}
}

.moduletable_hmenu.primary {
	> ul {
		padding: 35px 0 15px;
		background: url('../images/bg_menuBottomBorder.png') bottom center no-repeat;
		
		li {
			padding: 0 0 0 50px;
			&:first-child {
				padding-left: 0;
			}
			
			a {
				color: #000;
				z-index: 5;
				&:hover {
					color: $red;
					text-decoration: none;
				}
			}
		}
	}
}

.moduletable_hmenu.secondary {
	font-family: "Copperplate";
	font-weight: 100;
	text-align: center;
	line-height: 12px;
	padding: 15px 0;
	background: url('../images/bg_footerTopGrunge.png') bottom center repeat-x;
	
	> ul {
		li {
			border-left: 1px solid #fff;
			padding: 0 15px;
			&:first-child {
				border-left: none;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
	
}