@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

// header mods

.moduletable.masthead {
	padding: 30px 0;
	color: black;
	border-top: 1px solid #d8d8d8;
	z-index: 2;
	
	p {
		width: 45.744680851%;
		font-size: 14px;
		font-weight: bold;
		z-index: 2;
	}
	
	img.profile {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
	}
}

//for header and footer social network links
.moduletable.social {
	
	#header & {
		position: absolute;
		top: 30px;
		right: 5px;
		width: auto;
		z-index: 10;
	}
	
	a {
		@include hasLayout;
		padding: 0 10px;
	}
}

// middle mods

.media-block {
	
	.media {
		float: left;
		width: 17.586206897%; //51/290
		margin: 0 5.172413793% 10px 0; //15/290
		text-align: center;
	}
	
	.media + .content {
		padding-left: 22.75862069%; //66/290
	}
	
	&.right {
		
		.media {
			float: right;
			margin: 0 0 10px 5.172413793%; //15/290
		}
		
		.content {
			padding-left: 0;
			margin-top: 0;
		}
	}
}

.moduletable.feed {
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			background: url('../images/bg_headers.png') top center no-repeat;
			padding-top: 1em;
			&:first-child {
				background: none;
				padding-top: 0;
			}
			
			h4 {
				margin: 0;
				padding: 0;
				background: none;
			}
			
		}
	}
	
	p {
		padding: 0;
	}
}

.moduletable {
	&.middle {
		float: left;
		width: 30.85106383%; //290/940
		padding-left: 3.723404255%; //35/940
		font-size: 12px;
		&:first-child {
			padding-left: 0;
		}
	}
	
	&.sidebar {
		padding: 10px 0 0 0;
		&:first-child {
			padding: 0;
			h3 {
				padding-top: 0;
			}
		}
		
		h3 {
			margin-top: 0;
		}
	}
	
	&.feed {
		
	}
}

// bottom mods

.moduletable.sponsors {

	> div {
		margin-top: 30px;
		text-align: center;
	}
	
	a {	
		@include hasLayout;
		margin: 0 1.223404255% 1em;
		
		&:hover {
			text-decoration: none;
		}
	}
}

// copyright

@media only screen and (max-width: 1024px) {
	a{} //TODO remove
	
	.moduletable.sponsors {

		a {	
			margin: 0 5.319148936% 1em;
		}
	}
}

@media only screen and (max-width: 768px) {
	a{} //TODO remove
	
	.moduletable {

		&.sidebar {
			float: left;
			width: 30.85106383%; //290/940
			padding: 0 0 0 3.723404255%; //35/940
			
			h3 {
				padding-top: 0;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	a{} //TODO remove
	
	.moduletable.masthead {

		p {
			width: 100%;
		}
	}

	.moduletable {
		&.middle,
		&.sidebar {
			float: none;
			width: 100%;
			padding-left: 0;
		}
	}
	
	.moduletable.sponsors {
		
		.custom {
			width: 100%;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
			
			> * {
				width: 940px;
			}		
		}
		
		a {	
			margin: 0 1.223404255% 1em;
		}
	}
}

//ie
html.ie7, html.ie8 {
	
	.moduletable.masthead {

		p {
			width: 45.744680851%;
		}
	}
	
	.moduletable {
		&.middle {
			float: left;
			width: 30.85106383%; //290/940
			padding-left: 3.723404255%; //35/940
			&:first-child {
				padding-left: 0;
			}
		}
		
		&.sidebar {
			padding: 10px 0 0 0;
			&:first-child {
				padding: 0;
				h3 {
					margin-top: 0;
					padding-top: 0;
				}
			}
			
			h3 {
				padding-top: 10px;
			}
		}
	}
}