@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

.moduletable.masthead {
	padding: 30px 0 50px;
	color: black;
	
	p {
		width: 45.744680851%;
		font-size: 14px;
		font-weight: bold;
		z-index: 2;
	}
	
	.home & img.posBotRight {
		position: absolute;
		bottom: 0;
		right: -21px;
		z-index: -1;
	}
}

// middle mods

.moduletable.middle {
	float: left;
	width: 30.85106383%;
	padding-left: 3.723404255%;
	font-size: 12px;
	&:first-child {
		padding-left: 0;
	}
	
	img {
		margin-right: 15px;
	}
// copyright

.moduletable.social {
	a {
		padding: 0 10px;
	}
}