@import "_variables";
@import "_mixins";

/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

::-moz-selection{ background: $red; color:#fff; text-shadow: none; }
::selection { background: $red; color:#fff; text-shadow: none; }

.learn-more {
	@include typekit-normal;
	font-size: inherit;
	
	background: url('../images/arrow.png') center left no-repeat;
	padding-left: 13px;
	
	&:hover {
		text-decoration: none;
	}
}

.btn {
	@include btn;
	
	&:hover {
		-webkit-box-shadow: inset 0px 1px 9px rgba(0, 0, 0, 0.6);
	    -moz-box-shadow: inset 0px 1px 9px rgba(0, 0, 0, 0.6);
	    box-shadow: inset 0px 1px 9px rgba(0, 0, 0, 0.6);
	}
}

.btn .icon-bar {
	@include icon-bar;
}

.btn .icon-bar + .icon-bar {
  margin-top: 3px;
}

.visible-mobile {
  display: none !important;
}

@media only screen and (max-width: 768px) {
	a{} //TODO remove
	
	.visible-mobile {
    	display: inherit !important;
  	}
	
	.hidden-mobile {
		display: none !important;
	}
}

@media only screen and (max-width: 480px) {
	a{} //TODO remove
	
	.hidden-phone {
		display: none !important; 
	}
}

//ie
html.ie7, html.ie8 {

}