@import "_variables";
@import "_mixins";

/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

::-moz-selection{ background: $red; color:#fff; text-shadow: none; }
::selection { background: $red; color:#fff; text-shadow: none; }

.learn-more {
	@include typekit;
	font-size: inherit;
	
	background: url('../images/arrow.png') center left no-repeat;
	padding-left: 13px;
	
	&:hover {
		text-decoration: none;
	}
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {
	a{} //TODO remove
	
	.hidden-phone {
		display: none !important; 
	}
}

//ie
html.ie7, html.ie8 {

}