@import "_variables";
@import "_mixins";

/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

::-moz-selection{ background: $red; color:#fff; text-shadow: none; }
::selection { background: $red; color:#fff; text-shadow: none; }
